/data/libeventd-event.pc
/data/libeventc.pc
/data/units/eventd-control.socket
/data/units/eventd-evp.socket
/data/units/eventd.service
/include/config.h.in
/include/config.h
/include/libeventc.h
/vapi/libeventd-event.deps
/vapi/libeventc.vapi
/vapi/libeventc.deps

/src/libeventc/*.c
/src/eventc/*.c

/eventd
/eventdctl
/eventc

*.test
/tests/integration/*.h
/tests/integration/*.vapi
!/tests/integration/tests.vapi
/tests/integration/libtest/*.c
/tests/integration/evp/*.c
/tests/integration/libeventc/*.c
