/include/config.h.in
/include/config.h

# Vala generated stuff
/include/libeventc.h
/src/libeventc/*.c
/src/eventc/*.c

/eventd
/eventdctl
/eventc

/data/*.pc

/vapi/*.deps
/vapi/*.vapi
!/vapi/config.vapi
!/vapi/glib-local-2.0.vapi
!/vapi/libeventd-evp.vapi
!/vapi/libeventd-event.vapi
!/vapi/libeventd-event-private.vapi

*.test
/tests/integration/evp/*.c
/tests/integration/relay/*.c
/tests/integration/libeventc/*.c

/man/*.1
/man/*.5
/man/config.dtd

/data/units/*.socket
/data/units/*.service
