dist: trusty
sudo: required

language: c
compiler:
    - gcc
    - clang

addons:
    apt:
        packages:
            #- ninja-build
            - xsltproc
            - docbook-xsl
            - docbook-xml
            #- uuid-dev
            - libglib2.0-dev
            - libsoup2.4-dev
            #- libavahi-glib-dev
            - libgssdp-1.0-dev
            - libcairo2-dev
            - libpango1.0-dev
            - libgdk-pixbuf2.0-dev
            - libxcb1-dev
            - libxcb-util0-dev
            - libxcb-randr0-dev
            - libxcb-shape0-dev
            - libxcb-ewmh-dev
            - libpurple-dev
            #- libpulse-dev
            - libsndfile1-dev
            - libspeechd-dev
            - libcanberra-dev
            # For libnkutils tests
            - gnome-icon-theme-extras
            - gnome-icon-theme-symbolic
            - sound-theme-freedesktop
            - pidgin-data
install:
    - pip3 install meson
    - sudo apt-get install -y uuid-dev libavahi-glib-dev libpulse-dev

before_script:
    - wget https://github.com/ninja-build/ninja/releases/download/v1.7.2/ninja-linux.zip
    - unzip ninja-linux.zip
    - export PATH=$(pwd):$PATH
    - mkdir build
    - meson build -Denable-ipv6=false -Denable-websocket=false -Denable-nd-wayland=false -Denable-nd-fbdev=true -Denable-tts=true -Denable-libcanberra=true -Ddbussessionservicedir=/usr/share/dbus-1/services
script:
    - ninja -C build -v
    - ninja -C build -v test
after_failure:
    - cat build/meson-logs/testlog.txt


notifications:
    email: false
